*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Roboto";
    src: url("font/Roboto/Roboto.ttf") format("truetype");
}
@font-face {
    font-family: "Regular";
    src: url("font/Regular/hermanomayor.ttf") format("truetype");
}
@font-face{
    font-family: "Bold";
    src: url("font/TheBoldFont/theboldfont.ttf") format("truetype");
}
@font-face {
    font-family: "Light";
    src: url("font/Light/light.ttf") format("truetype");
}
@keyframes TopToBottom {
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes BottomToTop {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-300%);
    }
}
@keyframes scaleWidth{
    from{
        transform: scaleY(0);
    }
    to{
        transform: scaleY(1);
    }
}
@keyframes unScaleWidth{
    from{
        transform: scaleY(1);
    }
    to{
        transform: scaleY(0);
    }
}
header{
    display: flex;
}
a{
    color: #333333;
    
    font-family: 'Regular';
    font-family: 'Roboto';
    font-size: 17px;
    opacity: 80%;
}
.nav-menu{
    margin: 0 auto;
    margin-top: 45px;
    display: flex;
    gap: 60px;
    &-object{
        font-family: "Light";
        font-weight: 700;
        text-decoration: none;
        height: 22px;
        border-bottom: 2px solid #ffffff;
        border-top: 2px solid #ffffff;
        
        &:hover{
            border-bottom: 2px solid gray;
            border-top: 2px solid gray;
        }
    }
}

.text-head{
    font-size: 30px;
    &-1{
        font-style: "Light";
        color: gray;
    }
    &-2{

        font-family: "Bold";
    }
}
.modal{
    &-window{
        top: 20%;
        width: 24%;
        max-height: 400px;
        padding: 20px;
        left: 40%;
        z-index: 2;
        display: none;
        margin: 0 auto;
        position: fixed;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        border: 15px solid gray;
        text-align: center;
        &-active{
            animation: TopToBottom 0.6s;
        }
        &-deActive{
            animation: BottomToTop 0.6s;
        }
        p{
            font-family: "Regular";
            color: gray;
        }
        h1{
            font-family: "Regular";
            font-weight: 700;
            font-size: 24px;
            color: gray;
        }
        button{
            border: none;
            font-family: "Regular";
            font-weight: 700;
            font-size: 20px;
            color: gray;
            transition: 0.3s;
            padding: 5px;
            border-radius: 4px;
            cursor: pointer;
            &:hover{
                transform: scale(1.05);
            }
        }
    }
}
footer{
    background-color: #2C2C2C;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 40px;
    margin-top: 40px;
    
    .header{
        color: white;
        font-size: 22px; 
        opacity: 100%;
        font-family: 'Times New Roman', Times, serif; 
        cursor: default;
        text-decoration: none;
        padding-bottom: 10px;
        a{
            color: white;
            font-size: 22px; 
            opacity: 100%;
            font-family: 'Times New Roman', Times, serif; 
            cursor: default;
            text-decoration: none;
            padding-bottom: 10px;
            &:hover{
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
    .nav-menu-footer{
        list-style: none;
        line-height: 2.7;
        .logs{
            ul{
                gap: 17%;
                display: flex;
                list-style: none;
            }
        }
        &-img{
            margin-right: 10px;
        }
        li{
            color: white;
            opacity: 80%;
        }
        &-object{
            font-family: 'Roboto';
            opacity: 80%;
            color: white;
            text-decoration: none;
            padding-bottom: 10px;
            font-size: 14px;
            &:hover{
                text-decoration: underline;
            }
        }
        &-bottom{
            color: gray;
            font-size: 15px; 
            cursor: default;
            grid-column-start: 1; 
            grid-column-end: 5; 
            text-align: center;
            border-top: 1px solid gray;
            padding-top: 20px;
            font-family: 'Regular';
        }
    }
}
.burger {
    cursor: pointer;
    display: none;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
    margin-right: 10px;
    margin-top: 15px;
    margin-left: auto;
    &-checkbox {
        position: absolute;
        visibility: hidden;
        &:checked + .burger::before {
            top: 11px;
            transform: rotate(45deg);
            box-shadow: 0 6px 0 rgba(0,0,0,0);
            transition: box-shadow .15s, top .3s, transform .3s .15s;
        }
        &:checked + .burger::after {
            bottom: 11px;
            transform: rotate(-45deg);
            transition: bottom .3s, transform .3s .15s;
        }
    }
    &::before,
    &::after {
      content: '';
      left: 0;
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 10px;
      background: #000;
    }
    &::before {
        top: 0;
        box-shadow: 0 11px 0 #000;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
    }
    &::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
    }

}
@media (max-width: 700px) {
    .logo{
        width: 80px;
        height: 80px;
    }
    footer{
        padding: 15px;
        .logo{
            display: none;
        }
        display: block;
        .nav-menu-footer{
            display: grid;
            text-align: center;
            grid-template-columns: repeat(3, 33%);
            &:has(li:nth-child(5)){
                grid-template-columns: repeat(4, 25%);
            }
            .header{
                margin: 0 auto;
                grid-column-start: 1;
                grid-column-end: 5;
            }
            .logs{
                ul{
                    gap: 0%;
                    margin: 0 auto;
                    li{
                        width: 40px;
                    }
                }
                margin: 0 auto;
                grid-column-start: 1;
                grid-column-end: 5;
            }
        }
    }

}
@media(max-width: 480px){
    .burger{
        display: block;
    }
    header{
        .nav-menu{
            display: none;
            position: fixed;
            background-color: #545454;
            right: 0px;
            z-index: 3;
            overflow: hidden;
            &-object{
                padding: 10px;
                display: block;
                border: none;
                color: white;
            }
            &-active{
                animation: scaleWidth 0.4s;
            }
            &-deActive{
                animation: unScaleWidth 0.4s;
            }
        }
    }
    footer{
        .header{
            font-size: 17px;
        }
        li{
            font-size: 10px;
        }
        .nav-menu-footer{
            &-object{
                font-size: 10px;
            }
        }
    }
}