*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Roboto";
    src: url("font/Roboto/Roboto.ttf") format("truetype");
}
@font-face {
    font-family: "Regular";
    src: url("font/Regular/hermanomayor.ttf") format("truetype");
}
@font-face{
    font-family: "Bold";
    src: url("font/TheBoldFont/theboldfont.ttf") format("truetype");
}
@font-face {
    font-family: "Light";
    src: url("font/Light/light.ttf") format("truetype");
}
@keyframes TopToBottom {
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes BottomToTop {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-300%);
    }
}
header{
    display: flex;
}
a{
    color: #333333;
    
    font-family: 'Regular';
    font-family: 'Roboto';
    font-size: 17px;
    opacity: 80%;
}
.nav-menu{
    margin: 0 auto;
    margin-top: 45px;
    display: flex;
    gap: 60px;

    &-object{
        font-family: "Light";
        font-weight: 700;
        text-decoration: none;
        height: 22px;
        border-bottom: 2px solid #ffffff;
        border-top: 2px solid #ffffff;
        
        &:hover{
            border-bottom: 2px solid gray;
            border-top: 2px solid gray;
        }
    }
    &-footer{
        list-style: none;
        line-height: 2.7;
        &-img{
            margin-right: 10px;
        }
        li{
            color: white;
            width: 190px;
            opacity: 80%;
        }
        &-object{
            font-family: 'Roboto';
            opacity: 80%;
            color: white;
            text-decoration: none;
            padding-bottom: 10px;
            font-size: 14px;
            &:hover{
                text-decoration: underline;
            }
        }
        &-bottom{
            color: gray;
            font-size: 15px; 
            cursor: default;
            grid-column-start: 1; 
            grid-column-end: 5; 
            text-align: center;
            border-top: 1px solid gray;
            padding-top: 20px;
            font-family: 'Regular';
        }
    }
}

.text-head{
    font-size: 30px;
    &-1{
        font-style: "Light";
        color: gray;
    }
    &-2{

        font-family: "Bold";
    }
}
.modal{
    &-window{
        top: 20%;
        width: 24%;
        max-height: 400px;
        padding: 20px;
        left: 40%;
        z-index: 2;
        display: none;
        margin: 0 auto;
        position: fixed;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        border: 15px solid gray;
        text-align: center;
        &-active{
            animation: TopToBottom 0.6s;
        }
        &-deActive{
            animation: BottomToTop 0.6s;
        }
        p{
            font-family: "Regular";
            color: gray;
        }
        h1{
            font-family: "Regular";
            font-weight: 700;
            font-size: 24px;
            color: gray;
        }
        button{
            border: none;
            font-family: "Regular";
            font-weight: 700;
            font-size: 20px;
            color: gray;
            transition: 0.3s;
            padding: 5px;
            border-radius: 4px;
            cursor: pointer;
            &:hover{
                transform: scale(1.05);
            }
        }
    }
}
footer{
    background-color: #2C2C2C;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 40px;
    margin-top: 40px;
}