.slider{
    max-width: 750px;
    max-height: 400px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    &-button{
        z-index: 1;
        position: absolute;
        height: 30%;
        width: 20%;
        top: 36%;
        border: none;
        opacity: 20%;
        transition: 0.3s;
        background-color: rgb(170, 167, 167);
        &:hover{
            opacity: 40%;
        }
    }
    #right{
        right: 0;
    }
    &-slides{
        display: flex;
    }
}
.slide{
    max-width: 100%;
    transition: 0.3s;
}
.text-head-1{
    margin-top: 8px;
    text-align: center;
    padding-bottom: 8px;
}
#description{
    border-top: 2px solid gray;
    color: gray;
    font-family: 'Regular';
    width: 50%;
    margin: 0 auto;
    padding-top: 5px;
    margin-top: 0px;
    border-bottom: 2px solid gray;
    text-align: center;
    font-size: 19px;
    padding-bottom: 9px;
}
@media(max-width: 630px){
    #description{
        width: 80%;
    }
}